body {
	background-image: -ms-linear-gradient(top, #fefdfa, #749c98);
	background-image: -moz-linear-gradient(top, #fefdfa, #749c98);
	background-image: -webkit-linear-gradient(top, #fefdfa, #749c98);
	background-image: -o-linear-gradient(top, #fefdfa, #749c98);
	background-repeat: none;
	background-size: cover;
	width: 100%;
}

header {
	text-align: center;
	color: #749c98;
	font-weight: bold;
	font-family: 'Radley', serif;
	margin: 20px;
	padding: 10px;
	font-size: 22pt;
}

nav {
	font-family: 'Khula', sans-serif;
	border: solid #fefdfa 1px;
	background-color: #303131;
	height: 380px;
	width: 280px;
	margin: 5px;
	padding: 10px;
	font-size: 15pt;
	float: left;
	margin-left: 230px;
	color: #749c98;
	border-radius: 10px;
}

#nav-home {
	clear: both;
	margin: auto;
}

ol {
	list-style-type: upper-roman;
	line-height: 35px;
	margin: auto;
}

li {
	font-weight: bold;
}

.a-nav { 	
	text-decoration: none;
	color: #749c98;
}

.a-nav:hover {
	text-decoration: underline;
	color: #fefdfa;
	background-color: rgba(116, 156, 152, 0.5); /*#749c98 with alpha*/
	transition: 0.5s;
	border-radius: 6px;
}

.a-p {
	text-decoration: none;
	color: #63585a;
}

.a-p:hover {
	text-decoration: underline;
	background-color: #63585a;
	color: #99a489;
	transition: 0.5s;
}

article {
	font-size: 12pt;
	font-family: 'Khula', sans-serif;
	border-radius: 20px;
	background-color: #99a489;
	border: solid #303131 1px;
}

#text-one {
	float: right;
	margin: 10px;
	margin-right: 230px;
	padding: 5px;
	width: 40%;
}

#spacer { 					/*Spacer not rendering in chrome? Between Upper elements and bottom article*/
	width: 100%;
	height: 100px;
}

#text-two {
	width: 70%;
	clear: both;
	margin: auto;
	padding: 5px;
}

p {
	color: black;
	line-height: 25px;
}

img {
	padding: 5px;
	margin: 5px;
	border: solid #63585a 1px;
}

footer {
	text-align: center;
	margin: 10px;
	margin-top: 30px;
	padding: 5px;
	color: #fefdfa;
	font-family: 'Radley', serif;
}





